<section class="dealer-listing">
  <p-content-wrapper class="hydrated p-content-wrapper" width="extended">
    <p-grid class="example-grid">
      <p-grid-item [size]="12">
        <div class="dealer">
          <div class="dealer-header">
            <h2>{{'Tabs/ Sections' | translate}}</h2>
            <div class="btn-container">
              <div class="search-box">
                <button type="button" class="search-btn">
                  <div class="search-container" [ngClass]="status ? 'show' : ''">
                    <form>
                      <input class="search expandright" id="searchright" type="search" name="q"
                        [(ngModel)]="searchDealer" (keyup)="applyFilter()" placeholder="{{'Search'| translate}}">
                      <label class="button searchbutton" for="searchright"><span class="mglass">
                          <p-icon name="search" aria-label="Search icon" (click)="clickEvent()" class="search-icon">
                          </p-icon>
                          <p-icon name="close" aria-label="Close icon" (click)="clickEvent()" class="close-icon">
                          </p-icon>
                        </span></label>
                    </form>
                  </div>
                </button>
              </div>
              <div class="divider"></div>
              <p-button variant="primary" routerLink="/admin/manage-config/add-section-tab">{{'Add Tab / Section' |
                translate}}</p-button>
            </div>

          </div>
          <div class="table-container scrollbar" infiniteScroll [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [infiniteScrollDisabled]="isFullListDisplayed"
            [scrollWindow]="false">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> {{'Name' | translate}} </th>
                <td mat-cell *matCellDef="let element" (click)="tabDetails(element.id)">
                  <p class="semi-bold">{{element.name}}</p>
                </td>
              </ng-container>

              <!-- Email Column -->
              <ng-container matColumnDef="parent">
                <th mat-header-cell *matHeaderCellDef> {{'Parent' | translate}} </th>
                <td mat-cell *matCellDef="let element" (click)="tabDetails(element.id)">
                  <p>{{element.parent}}</p>
                </td>
              </ng-container>

              <!-- Contact Column -->
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> {{'Type' | translate}} </th>
                <td mat-cell *matCellDef="let element" (click)="tabDetails(element.id)">
                  <p>{{element.type}}</p>
                </td>
              </ng-container> 

              <!-- Actions Column -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> {{'Actions' | translate}} </th>
                <td mat-cell *matCellDef="let element">

                  <div class="btn-container">
                    <p-button-pure (click)="editTab(element.id)">{{'Edit' | translate}}</p-button-pure>
                    <p-button-pure (click)="confirmDelete(element.id)">{{'Delete' | translate}}</p-button-pure>
                  </div>

                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div *ngIf="!dataSource?.length">
              <p class="text-center">{{'No record found!' | translate}}</p>
            </div>
          </div>
        </div>

      </p-grid-item>
    </p-grid>
  </p-content-wrapper>
</section>