<app-header *ngIf="!isAdmin"></app-header>
<section class="delivery-dashboard">
  <p-content-wrapper class="hydrated p-content-wrapper" width="extended">
    <p-grid>
      <p-grid-item [size]="12">
        <form novalidate="novalidate" class="forgot-form" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
          <h2>{{'Change Password' | translate}}</h2>
          <p>{{'Enter your current password to change and set a new password.'|translate}}</p>
          <p class="last">{{'Mandatory fields are marked with an asterisk' | translate}} ().
          </p>
          <p-flex class="form-grid-item-container p-flex hydrated">
            <p-flex-item [width]="'full'" class="form-grid-item p-flex__item p-flex__item--width-full hydrated">
              <p-text-field-wrapper class="hydrated"
                [message]="isSubmitted && changePasswordForm.controls.oldPassword.errors ? ('Please enter your old Password.' | translate) : ''"
                [state]="isSubmitted && changePasswordForm.controls.oldPassword.errors? 'error' : 'none'">
                <span slot="label">{{'Current Password' | translate}}  </span>
                <input type="password" name="oldPassword" required formControlName="oldPassword"
                  (keyup)="$event.keyCode === 13 && onSubmit()" />
              </p-text-field-wrapper>
            </p-flex-item>
          </p-flex>
          <p-flex class="form-grid-item-container p-flex hydrated">
            <p-flex-item [width]="'full'"
              class="form-row-spacing form-grid-item p-flex__item p-flex__item--width-full hydrated">
              <p-text-field-wrapper class="hydrated"
                [message]="isSubmitted && (changePasswordForm.controls.password.errors?.minlength || changePasswordForm.controls.password.errors?.maxlength) ? ('Password length should be 8-15 digits.'| translate):(isSubmitted && (changePasswordForm.controls.password.errors?.pattern ) ? ('Password must have 1 Uppercase and 1 numeric character.' | translate) :('Please enter your new password.'|translate))"
                [state]="isSubmitted && changePasswordForm.controls.password.errors? 'error' : 'none'">
                <span slot="label">{{'New Password' | translate}}  </span>
                <input type="password" name="password" required formControlName="password"
                  (keyup)="$event.keyCode === 13 && onSubmit()" />
              </p-text-field-wrapper>
            </p-flex-item>
          </p-flex>
          <p-flex class="form-grid-item-container p-flex hydrated">
            <p-flex-item [width]="'full'"
              class="form-row-spacing form-grid-item p-flex__item p-flex__item--width-full hydrated">
              <p-text-field-wrapper class="hydrated"
                [message]="isSubmitted && (changePasswordForm.hasError('notSame')) ? ('Password not matched.' |translate) : ('Please confim your password.'|translate)"
                [state]="isSubmitted && (changePasswordForm.controls.confirmPassword.errors ||changePasswordForm.hasError('notSame') )? 'error' : 'none'">
                <span slot="label">{{'Confirm Password' | translate}}  </span>
                <input type="password" name="confirmPassword" required formControlName="confirmPassword"
                  (keyup)="$event.keyCode === 13 && onSubmit()" />
              </p-text-field-wrapper>
            </p-flex-item>
          </p-flex>
          <div class="btn-box">
            <p-button [icon]="'close'" [variant]="'tertiary'" routerLink="/">{{'Cancel'|translate}}</p-button>
            <p-button type="submit" variant="primary" [loading]="isLoading">{{'Change Password' | translate}}
            </p-button>
          </div>
        </form>
      </p-grid-item>
    </p-grid>
  </p-content-wrapper>
</section>