<section class="dealer-listing audit-logs-listing">
  <p-content-wrapper class="hydrated p-content-wrapper" width="extended">
    <p-grid class="example-grid">
      <p-grid-item [size]="12">
        <div class="dealer">
          <div class="dealer-header">
            <h2>{{'Audit Logs' | translate}}</h2>
            <div class="btn-container">
              <div class="search-box">
                <button type="button" class="search-btn">
                  <div class="search-container" [ngClass]="status ? 'show' : ''">
                    <form>
                      <input class="search expandright" id="searchright" type="search" name="q"
                        [(ngModel)]="searchDealer" autocomplete="one-time-code" (keyup)="applyFilter()"
                        placeholder="{{'Search'| translate}}">
                      <label class="button searchbutton" for="searchright"><span class="mglass">
                          <p-icon name="search" aria-label="Search icon" (click)="clickEvent()" class="search-icon">
                          </p-icon>
                          <p-icon name="close" aria-label="Close icon" (click)="clickEvent()" class="close-icon">
                          </p-icon>
                        </span></label>
                    </form>
                  </div>
                </button>
              </div>
              <div class="divider"></div>
              <p-button variant="primary" (click)="exportToExcelNew()">{{'Export to Excel' |
                translate}}</p-button>
            </div>

          </div>

          <div class="table-container scrollbar staff-container" infiniteScroll [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [infiniteScrollDisabled]="isFullListDisplayed"
            [scrollWindow]="false">


            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 audit-logs-table">
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> {{'ID'| translate}} </th>
                <td mat-cell *matCellDef="let element">
                  <p>{{element?.id}}</p>
                </td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="eventName">
                <th mat-header-cell *matHeaderCellDef> {{'Event'| translate}} </th>
                <td mat-cell *matCellDef="let element">
                  <p>{{element?.eventName}}</p>
                </td>
              </ng-container>

              <!-- Designation Column -->
              <ng-container matColumnDef="performedBy">
                <th mat-header-cell *matHeaderCellDef> {{'Performed By' | translate}} </th>
                <td mat-cell *matCellDef="let element">
                  <p>{{element?.performedBy}}</p>
                </td>
              </ng-container>

              <!-- Contact Column -->
              <ng-container matColumnDef="activityDate">
                <th mat-header-cell *matHeaderCellDef> {{'Activity Date' | translate}}
                </th>
                <td mat-cell *matCellDef="let element">
                  <p>{{dateConvert(element?.activityDate)}}</p>
                </td>
              </ng-container>

              <!-- Email Column -->
              <ng-container matColumnDef="activityTime">
                <th mat-header-cell *matHeaderCellDef> {{'Time' | translate}} </th>
                <td mat-cell *matCellDef="let element">
                  <p>{{element?.activityTime}} {{appConfig.common.timeZone}}</p>
                </td>
              </ng-container>
              <ng-container matColumnDef="centreName">
                <th mat-header-cell *matHeaderCellDef> {{'Centre' | translate}} </th>
                <td mat-cell *matCellDef="let element">
                  <p>{{element?.centreName}}</p>
                </td>
              </ng-container>

              <!-- Actions Column -->
              <ng-container matColumnDef="moduleName">
                <th mat-header-cell *matHeaderCellDef> {{'Module' | translate}} </th>
                <td mat-cell *matCellDef="let element">
                  <p>{{element?.moduleName}}</p>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
            </table>
            <div *ngIf="isLoading" class="loading-block">
              <p-button-pure [loading]="true">{{'Loading..' | translate}}</p-button-pure>
            </div>
            <div *ngIf="!isLoading && !dataSource?.length">
              <p class="text-center">{{'No record found!' | translate}}</p>
            </div>
          </div>
        </div>
      </p-grid-item>
    </p-grid>
  </p-content-wrapper>
</section>