<section class="login">
  <p-content-wrapper class="hydrated p-content-wrapper login-wrapper" width="extended">
    <p-grid class="example-grid">
      <p-grid-item [size]="6">
        <div class="black-bg">
          <div class="img-box">
            <img src="assets/images/porsche-login.png" alt="prosche" />
          </div>
        </div>
      </p-grid-item>
      <p-grid-item [size]="6">
      <!--   <p-banner [state]="'error'">
          <span slot="title">PCL Authentication</span>
          <span slot="description"> Please check your PPN session or role permissions</span>
        </p-banner> -->
        <div class="form-box">
          <img src="assets/images/Porsche_wordmark_black_rgb.svg" alt="logo" class="header_logo" width="200" />
        </div>
      </p-grid-item>
    </p-grid>
  </p-content-wrapper>
</section>