<app-header></app-header>
<section class="delivery-dashboard">
  <p-content-wrapper class="hydrated p-content-wrapper" width="extended">
    <p-grid>
      <p-grid-item [size]="12">
        <form novalidate="novalidate" class="forgot-form" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
          <h2>{{(setPassword ? 'Set Password': 'Reset Password') | translate}}</h2>
          <p class="last">{{'Please enter your new password below.' | translate}}
          </p>
          <p-flex class="form-grid-item-container p-flex hydrated">
            <p-flex-item [width]="'full'" class="form-grid-item p-flex__item p-flex__item--width-full hydrated">
              <p-text-field-wrapper class="hydrated"
                [message]="isSubmitted && (resetForm.controls.password.errors?.minlength || resetForm.controls.password.errors?.maxlength) ? ('Password length should be 8-15 digits.' | translate):(isSubmitted && (resetForm.controls.password.errors?.pattern ) ? ('Password must have 1 Uppercase and 1 numeric character.' | translate) : ('Please enter your new password.' | translate))"
                [state]="isSubmitted && resetForm.controls.password.errors? 'error' : 'none'">
                <span slot="label">{{'New Password'|translate}} </span>
                <input type="password" name="password" required="required" formControlName="password"
                  (keyup)="$event.keyCode === 13 && onSubmit()" />
              </p-text-field-wrapper>
            </p-flex-item>
          </p-flex>
          <p-flex class="form-grid-item-container p-flex hydrated">
            <p-flex-item [width]="'full'"
              class="form-row-spacing form-grid-item p-flex__item p-flex__item--width-full hydrated">
              <p-text-field-wrapper class="hydrated"
                [message]="isSubmitted && (resetForm.hasError('notSame')) ?( 'Password not matched.' | translate) : ('Please confim your password.' | translate)"
                [state]="isSubmitted && (resetForm.controls.confirmPassword.errors ||resetForm.hasError('notSame') )? 'error' : 'none'">
                <span slot="label">{{'Confirm Password' | translate}} </span>
                <input type="password" name="email" required="required" formControlName="confirmPassword"
                  (keyup)="$event.keyCode === 13 && onSubmit()" />
              </p-text-field-wrapper>
            </p-flex-item>
          </p-flex>
          <div class="btn-box">
            <p-button [icon]="'close'" [variant]="'tertiary'" (click)="backToLogin()">{{'Cancel' | translate}}
            </p-button>
            <p-button type="submit" variant="primary" [loading]="isLoading">{{'Save New Password' | translate}}
            </p-button>
          </div>
        </form>
      </p-grid-item>
    </p-grid>
  </p-content-wrapper>
</section>