<section class="add-dealer">
  <p-content-wrapper class="hydrated p-content-wrapper" width="extended">
    <p-grid>
      <p-grid-item [size]="12">
        <div class="dealer-content">
          <a href="javascript:void(0);" (click)="backToListing()" class="back-btn"><img
              src="assets/images/arrow-left.svg" alt="arrow" /> {{'Back' | translate}}</a>
          <div class="dealer-header">
            <h2>{{(roleId ? 'Edit':'Add') | translate}} {{'Role' | translate}}</h2>
            <p>{{(roleId ? 'Please provide the details to edit the role.':'Please provide the details to add a role.') |
              translate}}</p>
            <p class="last">{{'Mandatory fields are marked with an asterisk' | translate}} (<span
                class="star">*</span>).
            </p>
          </div>

          <form class="dealer-form" novalidate="novalidate" [formGroup]="roleForm" (ngSubmit)="onSubmit()"> 
            <p-flex class="form-grid-item-container p-flex hydrated contact-input role-name-input">
  
              <p-flex-item [width]="'full'"
                class="form-grid-item form-row-spacing p-flex__item p-flex__item--width-full hydrated">
               
                <p-text-field-wrapper class="hydrated"
                [message]="isSubmitted && roleForm.controls.roleName.errors ? ('Please enter role name'|translate) : ''"
                [state]="isSubmitted && roleForm.controls.roleName.errors? 'error' : 'none'">
                   <span slot="label" class="label-block role-label">{{'Role' | translate}} {{'Name' | translate}}  </span>
                   <span class="input-number role-name"> ppn_approle_pcl_</span>    
                   <input type="text" name="roleName" formControlName="roleName" required (blur)="trim('roleName')"
                    (keyup)="$event.keyCode === 13 && onSubmit()" />
                </p-text-field-wrapper>
              </p-flex-item>
  
            </p-flex>
            <p-flex class="form-grid-item-container p-flex hydrated">
              <p-flex-item [width]="'full'"
                class="form-grid-item form-row-spacing p-flex__item p-flex__item--width-full hydrated">
                <p-text-field-wrapper class="hydrated">
                  <span slot="label">{{'Description' | translate}}</span>
                  <input type="text" name="roleDescription" formControlName="roleDescription"
                    (keyup)="$event.keyCode === 13 && onSubmit()" (blur)="trim('roleDescription')" />
                </p-text-field-wrapper>
              </p-flex-item>
            </p-flex> 
            <p-text slot="label" class="form-row-spacing">{{'Role Group' | translate}} <span
              class="star">*</span> </p-text>
            <p-flex class="form-grid-item-container p-flex hydrated">
              <p-flex-item [width]="'full'"
                class="form-grid-item p-flex__item p-flex__item--width-full hydrated">
                
                <ul class="radiobox-list" formGroupName="modules">
                  <li>
                    <p-radio-button-wrapper label="Dealer" [hideLabel]="false" [state]="isSubmitted && !roleForm.value.modules.id? 'error' : 'none'">
                      <input type="radio" name="id" formControlName="id" [value]="2"
                        (change)="changeModule(2)" />
                    </p-radio-button-wrapper>
                  </li>
                  <li>
                    <p-radio-button-wrapper label="Admin" [hideLabel]="false" [state]="isSubmitted && !roleForm.value.modules.id? 'error' : 'none'">
                      <input type="radio" name="id" formControlName="id" [value]="1"
                        (change)="changeModule(1)" />
                    </p-radio-button-wrapper>

                  </li>
                </ul>
                <p class="message--error" *ngIf="isSubmitted && !roleForm.value.modules.id">
                  Please select any one role group.
                </p>
              </p-flex-item>
            </p-flex>
            <p-text slot="label" class=" form-row-spacing ">{{'Assign Permissions' | translate}}  </p-text>
            <p-flex class="form-grid-item-container p-flex hydrated">
              <p-flex-item [width]="'full'"
                class="form-grid-item p-flex__item p-flex__item--width-full hydrated"> 
                <table width="100%" class="permission-table">
                  <tr>
                    <td align="left" width="20%">Create</td>
                    <td align="left" width="20%">Edit</td>
                    <td align="left" width="20%">View</td>
                    <td align="left" width="20%">Inactivate</td>
                  </tr>
                  <tr class="mt-3" 
                  [ngClass]="roleForm.value.modules.id?'':'disable-all'">
                    <td>
                      <p-checkbox-wrapper [hideLabel]="true" [state]="isSubmitted && !roleForm.value.isView? 'error' : 'none'">
                        <input type="checkbox" name="isCreate" formControlName="isCreate"
                          (change)="updateCheckBox(2,1)"  />
                      </p-checkbox-wrapper>

                    </td>
                    <td>
                      <p-checkbox-wrapper [hideLabel]="true" [state]="isSubmitted && !roleForm.value.isView? 'error' : 'none'">
                        <input type="checkbox" name="isEdit" formControlName="isEdit"
                          (change)="updateCheckBox(2,2)" />
                      </p-checkbox-wrapper>
                    </td>
                    <td>
                      <p-checkbox-wrapper [hideLabel]="true" class="disable-all" [state]="isSubmitted && !roleForm.value.isView? 'error' : 'none'">
                        <input type="checkbox" name="isView" formControlName="isView" />
                      </p-checkbox-wrapper>
                    </td>
                    <td>
                      <p-checkbox-wrapper [hideLabel]="true" [state]="isSubmitted && !roleForm.value.isView? 'error' : 'none'">
                        <input type="checkbox" name="isDelete" formControlName="isDelete"
                          (change)="updateCheckBox(2,4)" />
                      </p-checkbox-wrapper>
                    </td>
                  </tr> 
                </table>
                <p class="message--error" *ngIf="isSubmitted && !roleForm.value.isView">
                  Please assign at least one permission.
                </p>
              </p-flex-item>
            </p-flex>

            <div class="btn-box">
              <p-button [icon]="'close'" type="button" [variant]="'tertiary'" (click)="backToListing()">{{'Cancel' |
                translate}}
              </p-button>
              <p-button type="submit">{{(roleId ? 'Update Role':'Add Role') | translate}}
              </p-button>
            </div>
          </form>
        </div>
      </p-grid-item>
    </p-grid>
  </p-content-wrapper>
</section>